body{
  background-color: #f9fafc;
}
.bg-purple{
  background-color: #5144e6;
}
.text-purple{
  color: #5144e6;
}

.sidebar{
  overflow: scroll;
}
ul{
  list-style: none;
}

.custom-li{
  margin-top: 0px;
  padding: 10px;
}
.custom-ul{
  margin-left: 15px;
}